services:
    web:
        build:
            context: app
            target: builder
        ports:
            - '8000:8000'
        volumes:
            - ~/.aws:/root/.aws:ro
        env_file:
            - .env
